# Auto detect text files and perform LF normalization
* text=auto

# Explicit declaration of text files
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Ensure these files are always normalized and converted to native line endings on checkout
package.json text eol=lf
package-lock.json text eol=lf